
<div class="body-section">
    <div class="header">
        <h4>
            {{ builder.model.name || 'Untitled Form'}}
            <a class="btn btn-sm btn-primary pull-right" ng-click="builder.newForm()">New Form</a>
            <a class="btn btn-sm btn-warning pull-right margin-right-20" ng-click="builder.openForm()">My previous Forms</a>
        </h4>
    </div>
    <div class="container">
        <!--<uib-alert type="default">Build your own form</uib-alert>-->

        <div class="row">
            <div class="col-sm-6 builder">
                <form name="builderForm" ng-submit="builder.saveForm(builderForm)">
                    <div sf-schema="builder.schema" sf-form="builder.form" sf-model="builder.model"
                         sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'blur' } }}"></div>
                </form>
            </div>
            <div class="col-sm-6 preview">
                <div sf-schema="builder.display.schema" sf-form="builder.display.form"
                     sf-model="builder.display.model"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-if="builder.model.type == 'schema-form'">
                    <h2>Instructions</h2>
                    <p>In your angular project do the following</p>
                    <h4>1. Install angular-schema form</h4>
                    <p>Using bower:</p>
                    <code>bower install angular-schema-form</code>
                    <p>Using npm:</p>
                    <code>npm install angular-schema-form</code></p>
                    <p>Then add it as a dependency to your module</p>
                    <code>angular.module('myModule', ['schemaForm'])</code>

                    <h4>Specify your schema and form</h4>
                    <p>In your controller, add the following schema and form an pass it to your views</p>
                    <h5>Schema</h5>
                    <pre> {{ builder.output.schema | json }}</pre>
                    <h5>Forms</h5>
                    <pre> {{ builder.output.form | json }}</pre>
                    <h4>Display the form in your view</h4>
                    <code class="language-html" data-lang="html">
                        &lt;form name="myForm" ng-submit="submit()"&gt; <br>
                        &lt;div sf-schema="schema" sf-form="form" sf-model="model"&gt;&lt;/div&gt;<br>
                        &lt;input type="submit" value="Submit"&gt;<br>
                            &lt;button type="button" ng-click="goBack()"&gt;Cancel&lt;/button&gt;<br>
                        &lt;/form&gt;
                    </code>
                </div>
                <div ng-if="builder.model.type == 'bootstrap'">
                    <h3>To be created</h3>
                    <pre> {{ builder.output | json }}</pre>
                </div>

            </div>
        </div>
    </div>
</div>